:root {
  --twitch: #9145ff;
}

body {
  background: var(--twitch);
  font-family: "Roboto", "Open Sans", "Helvetica", "Arial", sans-serif;
}

#custom-nav {
  position: absolute;
  width: 100%;
  padding: 0.5rem 5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
}

#custom-nav > * {
  width: 50%;
}

#custom-nav ul {
  margin: 0;
  padding: 0;
}

#custom-nav #primary {
  display: flex;
  list-style: none;
}

#custom-nav #primary li {
  margin-right: 1rem;
}

#custom-nav #primary li a {
  border: none;
}

#custom-nav #secondary {
  text-align: right;
}

#custom-nav #secondary li a {
  border-color: var(--twitch);
  color: var(--twitch);
  font-size: 12px;
}

#main {
  border-radius: 0;
  color: black !important;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  color: black !important;
}

.purple {
  color: var(--twitch) !important;
}

.white {
  color: white !important;
}

main a {
  color: var(--twitch);
}

#hero {
  padding: 13rem 5rem 10rem 5rem;
}

#hero h1 {
  font-size: 4.5rem;
}

#hero a {
  font-size: 2rem;
  border: 0;
  font-weight: bold;
  display: block;
}

.main h2 {
  font-size: 3.5rem;
}

.main h3 {
  font-size: 3rem;
  line-height: 100%;
}

.main h4 {
  font-size: 2rem;
}

.main p {
  font-size: 1.85rem;
  margin-bottom: 2.15rem;
}

#main .main {
  border: none;
  text-align: left;
}

#hero ~ section:nth-of-type(even) {
  background: var(--twitch);
}

.project-row {
  margin: 2rem 0;
}

.btn-primary {
  background-color: #fff !important;
  color: var(--twitch);
  font-weight: bold;
  font-size: 2rem;
}

/* Media Queries */
